<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>


<app-orbit-list [satellites]="displayList"></app-orbit-list>

<div class="search-form">
  <input #searchTerm id = "searchTerm" (keyup.enter)='search(searchTerm.value)' type='text' placeholder="Search name"/>

  <button (click)='search(searchTerm.value)'>Search</button>


</div>

<div>
  <button (click)='renew()'>Renew search</button>

</div>



